# Example Environment Variables
JWT_SECRET=---YOUR JWT SECRET KEY---
JWT_VALID=1h
MONGODB_URI=---YOUR MONGODB CONNECTION STRING---
EMAIL=---YOUR EMAIL YOU WANT TO USE TO END EMAILS FROM---
EMAIL_PASSWORD=---YOUR EMAIL'S PASSWORD---
CLOUDINARY_CLOUD_NAME=---CLOUDINARY CLOUD NAME---
CLOUDINARY_API_KEY=---CLOUDINARY API KEY---
CLOUDINARY_API_SECRET=---CLOUDINARY API SECRET---